@import "../../VariablesFonts.scss";

.sop_folder_layer {
    background-color: rgba($black, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 10px;
    ul {
        padding: 0;
        li {
            // margin: 0 10px;
            img {
                width: 25px;
            }
            button{
                background: none;
                border: none;
                outline: none;
                padding: 0;
            }
        }
    }
    .color_section{
        max-width: 170px;
        margin: 0 auto;
        h3{
            color: $white;
        }
        ul{
            li{
                width: 25%;
                vertical-align: middle;
                margin-bottom: 10px;
                label{
                    font-size: 0; 
                    display: block;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background: $white;
                    margin: 0 auto;
                }
                &.sop_orange{
                    label{
                        background: #FFC547;
                    }
                }
                &.sop_glass{
                    label{
                        background: #6999AB;
                    }
                }
                &.sop_green{
                    label{
                        background: #47FFB6;
                    }
                }
                &.sop_lightpink{
                    label{
                        background: #F1C2FF;
                    }
                }
                &.sop_blue{
                    label{
                        background: #4747FF;
                    }
                }
                &.sop_pink{
                    label{
                        background: #FF47D4;
                    }
                }
                &.sop_yellow{
                    label{
                        background: #FFFF47;
                    }
                }
                &[class*="sop_"]{
                    &.active{
                        label{
                            // background-image: url('./assets/');
                        }
                    }
                }
                input{
                    border:none;
                    outline: none;
                    display: none;
                }
            }
        }
    }
}