@import "../../VariablesFonts.scss";
header {
    background-color: $white;
    h2 {
        display: inline-block;
        width: auto;
        padding: 10px 10px 10px 40px;
        vertical-align: middle;
    }
}
.App-header{
    >div{
        height: 100%;
        vertical-align: middle;
    }
}
.search{
    label{
        font-size: 0;
        display: none;
    }
    input{
        width:100%;
        max-width: 400px;
        height: 56px;
        background-color: #f9fff5;
        border-radius: 10px;
        border: 1px solid #c7c7c7;
        background-image: url("./assets/search-icon.png");
        background-repeat: no-repeat;
        background-position: 0% 50%; 
        background-size: 40px;
        padding-left: 50px;
        font-family: $Taviraj;
        @media only screen and (min-width: 1200px){
            min-width: 500px;
        }
    }
}
.userList {
    ul {
        li {
            button {
                border: 0;
                outline: none;
                box-shadow: none;
                &#sign-details {
                    background: $black;
                    color: $white;
                    border-radius: 100%;
                    padding: 5px;
                    width: 40px;
                    height: 40px;
                }
            }
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
