.a{
    // width: 50%;
}
.box_shadow{
    background-color: lightgrey;
    width: 700px;
    border: 7px solid rgb(20, 19, 20);
    padding: 200px;
    margin: 50px;
}

.input_password{
    width: 50%;
}

.error_msg{
    color: red;
}