@import "../../VariablesFonts.scss";

.breadcrumbs {
    ul{
        padding: 0;
        li{
            padding: 0 0px 0 15px; 
            font-weight: 500;
            &::after{
                content: ">";
                display: inline-block;
                width: auto;
                height: auto;
                padding-left: 15px;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            button{
                border: none;
                box-shadow: none;
                padding: 0;
                outline: none;
                background: none;
            }
        }
    }
}